<% include header %>
<h1>Home Page</h1>
<p class="lead"> Say something worthwhile here.</p>
<br>
<% if (!user) { %>
<h2>Welcome! Please log in.</h2>
<% } else { %>
<h2>Hello, <%= user.username %>.</h2>
<% } %>
<% include footer %>